{
  "ServiceId": "com.ibm.cloudoe.orion.client.deploy",
  "Params": {
    "Target": {
      "Url": "https://api.ng.bluemix.net",
      "Org": "fuse@jp.ibm.com",
      "Space": "ıİöçşğüÇŞĞÜæ€𠀋𪆐𪚲か゚"
    },
    "Name": "hellonode",
    "Instrumentation": {
      "domain": "mybluemix.net"
    }
  },
  "Path": "manifest.yml",
  "Type": "Cloud Foundry"
}